<% include partials/header %>

<div class="ui container text main">
    <div class="ui huge header">BLOG</div>
    <div class="ui top attached segment">
        <div class="ui unstackable divided items">
            <% blogs.forEach(function (blog) { %>
                <div class="item">
                    <div class="image">
                        <a href="/blogs/<%=blog._id%>"><img class="ui rounded image" src="<%=blog.image%>" ></a>
                    </div>
                    <div class="content">
                        <a class="ui header" href="/blogs/<%=blog._id%>">
                            <%=blog.title%>
                        </a>
                        <span class="pull-right">
                                <em class="short-date"><%=blog.updatedDate.toISOString()%></em>
                            </span>
                        <div class="meta">
                            <span>
                                By <em><%=blog.author.username%></em>
                            </span>
                        </div>
                        <div class="description">
                            <p><%=blog.body.substring(0, 100)%>...</p>
                        </div>
                        <div class="extra">
                            <a class="ui floated green button" href="/blogs/<%=blog._id%>">
                                Read More
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

</div>

<% include partials/footer %>
